<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee
         http://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CallbackServlet</servlet-name>
    <servlet-class>com.example.controller.CallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallbackServlet</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>com.example.controller.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InboxServlet</servlet-name>
    <servlet-class>com.example.controller.InboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxServlet</servlet-name>
    <url-pattern>/inbox</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.example.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>


</web-app>